@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'HelveticaNeue', 'Helvetica Neue';
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

header {
    width: 100%;
}

.navbar, .navbar1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.actions a {
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
    font-weight: 500;
}

/* hover on navigations */
.signin:hover , .register:hover , .shoplogo:hover 
, .nav-items1 .links:hover {
    transition: transform 0.7s ease;
    opacity: 0.7;
}
.nav-items1 li a img:hover {
    transform: scale(1.1);
    transition: transform 0.7s ease;
}

.nav-items1 {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-items1 a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    margin-left: 50px;
}

.nav-items1 li a img {
    height: 100px;
    background-color: #fff;
}

/*mainsection start */

#mainsection {
    padding: 0;
    position: relative;
    width: 100%;
    height: 97vh;
    background: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainsection .box-btn-shop {
    background-color: rgba(23, 20, 31, 0.7);
    height: 370px;
    width: 450px;
    top: 3.5cm;
    margin-left: 820px;
    position: relative;
    z-index: 1;
}

#mainsection .box-content {
    position: absolute;
    height: 90%;
    z-index: 2;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 75px;
}

.title1 {
    font-size: 33px;
    margin-left: 35px;
}

#shop-now-btn {
    background: transparent;
    border: 2px solid white;
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    margin-top: 30px;
    margin-left: 0;
    transition: 0.3s ease;
}

#shop-now-btn:hover {
    opacity: 0.6;
}

/*mainsection end */

/*delivery band and reviews start*/

.deliveryband {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5cm;
    width: 100%;
    background-color: #1a1c24;
}

.item {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.item:hover {
    opacity: 0.7;
    transition: 0.4s;
}

.paragraphs {
    width: 70%;
    padding-left: 40px;
    color: #fff;
}

.logos {
    color: #fff;
    font-size: 1.5em;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 300;
}

.checked {
    color: orange;
}

.reviews {
    height: 1cm;
    width: 100%;
    background-color: #000000;
}

/*delivery band and reviews end*/

/*story start*/
#story {
    height: 250px;
    background-color: #faf9f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#story #see-our-story {
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    margin-top: 30px;
    margin-left: 0;
    transition: 0.3s ease;
}

#story #see-our-story:hover {
    opacity: 0.6;
}

/*story end*/

/*our collection start*/
hr {
    border: 0;
    border-top: 1px solid black;
    margin-top: 10px;
    margin-left: 30%;
    width: 50%;
}

#collections .collection-container {
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collections .watches-containers {
    display:flex;
    margin-top: 45px;
}

.product{
    align-self: center;
    height: 370px;
    width: 230px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watches-containers .product-image{
    height: 370px;
    width: 230px;
    object-fit: cover;
}

.watches-containers .product-title{
    margin-top: 20px;
    font-size: 20px;
}

.product-title:hover{
    opacity: 0.7;
}

.product-image:hover{
    scale: 1.1;
    transition: 0.5s;
}

#explore-collections{
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    margin-top: 30px;
    margin-left: 0;
    transition: 0.3s ease;
}

#explore-collections:hover {
    opacity: 0.6;
}

/*follow us start */
#follow-us {
    margin-top: 20px;
    height: auto; /* Use auto height to fit content */
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta .insta-title {
    font-size: 24px;
    margin-bottom: 20px; 
    color: #000000;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
    width: 80%; 
}

.feeds {
    position: relative;
    flex: 1 1 22%;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.feeds img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#follow-us .catalogue #feed1 {
    background-image: url(img/insta/insta1.jpg);
    background-size: cover;
    position: relative;
}

#follow-us .catalogue #feed2 {
    background-image: url(img/insta/insta2.jpg);
    background-size: cover
}

#follow-us .catalogue #feed3 {
    background-image: url(img/insta/insta3.jpg);
    background-size: cover
}

#follow-us .catalogue #feed4 {
    background-image: url(img/insta/insta4.jpg);
    background-size: cover
}

#follow-us .catalogue #feed5 {
    background-image: url(img/insta/insta5.jpg);
    background-size: cover
}

#follow-us .catalogue #feed6 {
    background-image: url(img/insta/insta6.jpg);
    background-size: cover
}

#follow-us .catalogue #feed7 {
    background-image: url(img/insta/insta7.jpg);
    background-size: cover
}

#follow-us .catalogue #feed8 {
    background-image: url(img/insta/insta8.jpg);
    background-size: cover
}

.boxhover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 3;
}

.feeds:hover .boxhover {
    opacity: 1;
}

#follow-btn {
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    margin-top: 30px;
    margin-left: 0;
    transition: 0.3s ease;
}
#follow-btn:hover {
    opacity: 0.7;
}
/* follo-us en */
/*footer start */
#myfooter{
    margin-top: 30px;
    height: 150px;
    width: 100%;
    background-color: #050505;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    color: #fff;
}
